* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(207, 115, 29);
}

/* Header */
header {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

/* App */
.App {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.util-bar {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.utility-list {
    display: flex;
    gap: 25px;
}

.dropdown {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    border-radius: 10px;
}

ul {
    list-style: none;
}

/* Footer */
footer {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

footer > span > a {
    color: white;
}
